{% extends 'app/pages/websites/template.html.twig' %}

{% block title %}Développer des webservices dédiés à votre entreprise avec Logilink{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1>Construisons le <span class="txt-color2">pont numérique</span> de votre entreprise<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container">
                <p>
                    Choisissez-nous pour vos webservices dédiés aux entreprises et bénéficiez d'une solution sur mesure,
                    innovante, et parfaitement intégrée à vos besoins.
                    <br>
                    <br>
                    Notre équipe de développeurs experts s'engage à propulser votre entreprise vers de nouveaux sommets
                    numériques, avec des webservices fiables et adaptés, créés spécifiquement pour optimiser votre
                    efficacité opérationnelle et favoriser votre croissance.
                </p>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="section etude">
                <div class="section-content etude-content">
                    <h2>Services en ligne - SAAS<span class="txt-color2">.</span></h2>
                    <p>
                        Nous réalisons sur demande des services en ligne et des solutions SaaS (« Software as a
                        Service ») pour tout secteur d’activité. Très appréciés du grand public, ces portails accessibles
                        via Internet depuis n’importe quel appareil, fixe ou mobile, fluidifient les échanges,
                        favorisent la mobilité, et facilitent de nombreuses transactions B to C et B to B.
                        <br>
                        <br>
                        Différentes solutions logicielles peuvent être intégrées à votre plateforme selon vos besoins :
                        paiement en ligne, vote en ligne, inscription à distance, partage et signature de documents,
                        consultation de données, facturation, etc.
                    </p>
                </div>
                <div class="section-image etude-image">
                    <img src="{{ asset('build/app/images/webservices/illustrations/webservice.jpg') }}" alt="propositions maquette website">
                </div>
            </div>

            <div class="section proposition">
                <div class="section-image proposition-image">
                    <img src="{{ asset('build/app/images/webservices/illustrations/example.jpg') }}" alt="propositions maquette website">
                </div>
                <div class="section-content proposition-content">
                    <h2>Des exemples<span class="txt-color2">.</span></h2>
                    <div>
                        <h3>FNAIM Aix-Marseille-Provence</h3>
                        <p>
                            Formation AMP est un service en ligne dédié aux adhérents de la chambre FNAIM Aix
                            Marseille Provence. Chaque adhérent dispose d’un compte privé lui donnant accès à
                            l’ensemble des formations professionnelles (Transaction, gestion, syndic, Management) et
                            aux ateliers proposés par la FNAIM. Il trouvera dans son espace toutes les informations
                            pratiques (dates, horaires, tarifs, lieu, intervenant, nombre de participants), pourra inscrire
                            les collaborateurs souhaités, régler directement en ligne le montant à payer, réceptionner sa
                            facture, et les attestations de présence délivrées à l’issue de la formation.
                        </p>
                    </div>
                    <div>
                        <h3>Cité de la musique de Marseille</h3>
                        <p>
                            L’espace en ligne de la Cité de la musique s’adresse aux professeurs de musique et à
                            l’administration. Il permet de gérer avec souplesse le planning prévisionnel de l’année, les
                            élèves étant répartis par âges, niveau musical, instrument et centres de formations.
                            Ce service permet aussi aux adhérents, aux anciens élèves et aux nouveaux venus de
                            réserver leurs places en ligne pour les journées d’inscriptions qui ont lieu au début de
                            chaque année scolaire via un système de ticket avec code barre.
                            Au niveau pédagogique, un support de cours en ligne donne la possibilité aux professeurs de
                            partager des documents avec leurs élèves ou de mettre en place des visioconférences.
                        </p>
                    </div>
                </div>
            </div>

            <div class="contact">
                <div class="section-title">
                    <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous aujourd'hui pour discuter de votre projet,
                        et laissez-nous vous montrer comment les webservices peuvent optimiser l'efficacité de votre entreprise.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
