.items-extrait{

  .item-infos{
    flex-direction: row;
    flex-wrap: wrap;

    & > .col-1{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2px;
      color: #101010;

      .col-sort{
        cursor: pointer;
      }
    }

    & > .col-1, & > .col-2, & > .col-3{
      width: 100%;
    }
    & > .col-4, & > .col-5, & > .col-6{
      @include flex(column, flex-end, flex-end, 4px);
      width: calc(33% - 5px);
      text-align: right;
    }
  }

  $col1: 100px; $col3: 45px; $col4: 100px; $col5: 100px; $col6: 100px; $col7: 40px; $colGap: 48px;
  //                      __   _____ __    ___    __
  //                     | _| |___  / /_  ( _ )  |_ |
  //    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
  //   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
  //                     | |   /_/  \___/ \___/   | |
  //                     |__|                    |__|
  @media (min-width:768px) {
    .item-infos{
      flex-wrap: initial;

      & > .col-1{ width: $col1; }
      & > .col-2{
        width: calc(100% - $col1 - $col3 - $col4 - $col5 - $col6 - $col7 - $colGap);
        max-width: 320px;
      }
      & > .col-3{ width: $col3; }
      & > .col-4{ width: $col4; }
      & > .col-5{ width: $col5; }
      & > .col-6{ width: $col6; }
      & > .col-4, & > .col-5, & > .col-6{
        & > span:first-child{
          display: none;
        }
      }
      & > .col-7.actions{ width: $col7; }
    }
  }
}
