@use "../../vars/vars";

.alert{
  @include vars.flex(row, stretch, flex-start);
  width: 100%;
  transition: opacity 0.1s linear, margin-top 0.2s linear;
  border-radius: var(--radius);
  padding: var(--espaceDiv);

  &:before{
    border-radius: var(--radius) 0 0 var(--radius);
  }

  .alert-container{
    @include vars.flex(row, stretch, flex-start);
    width: 100%;

    &:before{
      content: "";
      display: block;
      width: 6px;
    }

    p{
      padding: var(--espaceEls);
      width: calc(100% - 6px);
    }

    p, ul li{
      font-size: 13px;
    }

    [class^="icon-"] {
      padding: var(--espaceEls) 0 var(--espaceEls) var(--espaceEls);
    }

    .title{
      display: block;
      margin-bottom: 4px;
      @include vars.fontRegular();
      font-weight: 600;
    }
  }

  .alert-close{
    padding: var(--espaceEls);
    cursor: pointer;
    opacity: 0.75;

    &:hover{ opacity: 1 }
  }
}

$icons:
        "primary" var(--primaryOpacity1) var(--primary) var(--primaryOpacity4),
        "warning" var(--warningOpacity1) var(--warning) var(--warningOpacity4),
        "danger" var(--dangerOpacity1) var(--danger) var(--dangerOpacity4),
        "success" var(--successOpacity1) var(--success) var(--successOpacity4),
        "grey4" var(--grey4Opacity1) var(--grey4) var(--grey4Opacity4),
;

@each $name, $bg, $txt, $border in $icons {
  .alert-#{$name} {
    background: $bg;
    color: $txt;

    &:before{
      background-color: $border;
    }
  }
}
