{% extends 'admin/pages/clients/template.html.twig' %}

{% set breadcrumbs = [
    { icon: 'user-octagon', text: "Clients"  }
] %}

{% set page_title %}Clients synchronisés{% endset %}
{% set page_subtitle %}Gestion des clients synchronisés.{% endset %}

{% block main_content %}
    <div id="clients_list">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
