.line{
  label{
    text-transform: uppercase;
    color: var(--grey3);
    font-size: 13px;
  }
}

.checkbox-item, .radiobox-item{
  label{
    border: 2px solid var(--grey3);
  }

  &:hover{
    label{
      color: var(--grey3);
      border-color: var(--primary);
    }
  }
}

.line-fat-box {
  .checkbox-item, .radiobox-item {
    overflow: hidden;
    border-radius: 6px;

    &.checked{
      & > label{
        background-color: var(--color3);
      }
    }

    label{
      padding: 20px 12px;
      border-style: solid;
      min-width: 120px;
      text-align: center;
      background-color: var(--color2);
    }

    .item-selected{
      position: absolute;
      top: -4px;
      right: -10px;
      background: var(--primary);
      color: var(--alpha);
      transform: rotate(45deg) translateY(-5px);
      width: 40px;
      padding-top: 8px;
      text-align: center;

      [class^="icon-"]{
        transform: rotate(-45deg);
      }
    }
  }

  .checkbox-item{
    label{
      border-radius: 6px;
    }
  }

  .radiobox-item{
    label{
      border-radius: 40px;
    }
  }
}

.select-custom{
  .item{
    &:hover{
      background-color: var(--color0Opacity1);
    }
  }
}

input, textarea, select, .input-view{
  background-color: var(--alpha);
  border-color: var(--grey3);
  padding: 12px 10px;

  &::placeholder{
    color: var(--grey1);
  }

  &:focus{
    border-color: var(--grey4);
  }
}

.file-uploader{
  .file-uploader-container{
    background-color: var(--alpha);
    border: 1px solid var(--grey3);

    .infos{
      color: var(--grey4);
    }
  }

  &:hover{
    .file-uploader-container{
      .infos{
        border-color: var(--grey4);
      }
    }
  }
}

.input-view{
  color: var(--grey4);
  background-color: var(--color1);
}
