{% extends 'user/pages/invoices/template.html.twig' %}

{% set page_title %}Factures{% endset %}
{% set page_subtitle %}Accès direct à vos documents.{% endset %}

{% block main_content %}
    <div id="invoices_list"
         data-donnees="{{ extraits }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
