{% extends 'user/pages/profil/template.html.twig' %}

{% set page_title %}Mon compte{% endset %}
{% set page_subtitle %}Personnaliser votre mot de passe.{% endset %}

{% block main_content %}
    <div id="profil_update"
         data-obj="{{ obj }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
