{% extends 'app/pages/websites/template.html.twig' %}

{% block title %}Développer mon site internet sur mesure avec Logilink{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1>Concevoir <span class="txt-color2">son</span> site internet<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container">
                <h2>Votre identité numérique</h2>
                <p>
                    Logilink développe des sites internet personnalisés, inspirés de vos intentions, pensées, construits et
                    rédigés dans le respect de vos objectifs, adaptés aux attentes du public et conformes aux standards du web.
                </p>
                <div class="cta">
                    <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                </div>
            </div>
        </div>
        <div class="div-page-content">

        </div>
    </div>
{% endblock %}
