{% extends 'layout/layout_user.html.twig' %}

{% set page_prefix = "Espace membre" %}

{% set menu = [
    {
        name: "Extrait de compte", icon: "home",
        path: path('user_homepage'),
        matchRoute: ['user_homepage']
    },
    {
        name: "Factures", icon: "receipt",
        path: path('user_invoices'),
        matchRoute: ['user_invoices']
    },
] %}

{% set menu_bottom = [
    {
        name: "Page accueil",  icon: "earth",
        path: path('app_homepage'),
        matchRoute: ['app_homepage']
    },
] %}

{% if is_granted('ROLE_ADMIN') %}
    {% set menu_bottom = [
        {
            name: "Espace admin",  icon: "earth",
            path: path('admin_homepage'), matchRoute: ['admin_homepage']
        },
    ] | merge(menu_bottom) %}
{% endif %}

{% block footer %}
    <div class="bg-black/90 px-4 py-8 text-sm sm:px-6 lg:px-8">
        <div class="mx-auto max-w-screen-2xl pt-4 flex flex-col text-center lg:flex-row lg:text-left gap-2 justify-center">
            <p class="text-gray-300">&copy; 2024 - <a href="https://logilink.fr" class="text-blue-600">Logilink.fr</a></p>
            <span class="text-gray-300">-</span>
            <a class="text-gray-300 hover:text-white" href="{{ path('app_mentions') }}">Mentions légales</a>
            <a class="text-gray-300 hover:text-white" href="{{ path('app_politique') }}">Politique de confidentialité</a>
            <a class="text-gray-300 hover:text-white" href="{{ path('app_cookies') }}">Gestion des cookies</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="text-gray-300 hover:text-white" href="{{ path('admin_homepage') }}">Espace administrateur</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
