@import "../../../../common/css/components/elements/card";

.card{
  border: 1px solid var(--color1);
  @include flex(column, flex-start, flex-start, 8px);
  background-color: var(--color0);
  border-radius: 8px;
  @include shadowCommon();
  padding: 1.2rem;
  width: 100%;

  .card-header{
    @include flex(row, flex-start, flex-start, 8px);
    @include fontSemibold();
    font-size: 18px;
  }

  .card-body{
    width: 100%;
  }

  .card-header-name{
    @include fontSemibold();
  }
}

.card-0{
  background-color: var(--color0);

  .card-header, .card-body{
    border-bottom: 1px solid var(--color1);
  }
}
