
@use "../../vars/vars";

.txt-link, .txt-button, .btn-icon, .btn{
  @include vars.flex(row, center, center, 6px);
}

.btn-icon, .btn, .txt-button {
  position: relative;
  width: auto;
  text-align: center;
  border: 1px solid transparent;
  background-color: transparent;

  &.btn-loader-with-text,
  &.btn-loader-without-text{
    cursor: initial;
    opacity: 1;
  }
}

.txt-button{
  padding: 6px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn-icon, .btn{
  transition: opacity 0.2s ease-in-out;
}

.btn-icon{
  padding: 6px;
  opacity: 1;

  span:not(.tooltip, [class^="icon-"]){
    font-size: 14px;
    transform: translateY(1px);
  }

  &:hover{
    opacity: 0.8;
  }
}

.btn{
  padding: 8px 20px;
  min-height: 36px;
  opacity: 1;

  &:hover{
    opacity: 0.9;
  }
}

.btn.btn-loader,
.btn.btn-loader-without-text{
  [class^="icon-"]{
    position: absolute;
    top: 10px; left: 0;
    width: 100%;
  }

  span:not([class^="icon-"]){
    opacity: 0;
  }
}

.txt-link, .txt-button, .btn{
  & > [class^="icon"]{
    display: inline-block;
    transform: translateY(-1px);
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .txt-link, .txt-button, .btn-icon, .btn {
    cursor: pointer;
  }
}

.txt-button, .btn, .btn-icon{
  border-radius: var(--radius);
}

.txt-button{
  color: var(--alpha);
}

$data:
        "primary" var(--primary) var(--primary) var(--alpha),
        "warning" var(--warning) var(--warning) var(--txt),
        "danger" var(--danger) var(--danger) var(--txt),
        "success" var(--success) var(--success) var(--txt),
        "grey3" var(--grey3) var(--grey3) var(--txt),
        "grey4" var(--grey4) var(--grey4) var(--txt),
        "default" var(--txt) var(--grey2) var(--alpha),
        "cta" var(--colorCta) var(--colorCta) var(--txt),
;

@each $name, $bg, $border, $txt in $data {
  .btn-#{$name},
  .btn-icon-#{$name} {
    background-color: $bg;
    border-color: $border;
    color: $txt;
  }

  .btn-outline-#{$name},
  .btn-icon-outline-#{$name} {
    border-color: $border;
    color: $border;
  }
}

[class*="btn-outline-"],
[class*="btn-icon-outline-"]{
  background-color: var(--color0);
}

$data:
        "primary" var(--primaryOpacity1) var(--primary),
        "warning" var(--warningOpacity1) var(--warning),
        "danger" var(--dangerOpacity1) var(--danger),
        "success" var(--successOpacity1) var(--success),
        "grey3" var(--grey3Opacity1) var(--grey3),
        "grey4" var(--grey4Opacity1) var(--grey4),
        "default" var(--grey2Opacity1) var(--alpha),
;

@each $name, $bg, $txt in $data {
  .txt-button-#{$name} {
    &:hover {
      background-color: $bg;
      color: $txt;
    }
  }
}

