.items-invoices{
  $col1: 74px; $col2: 100px; $col4: 85px; $col5: 260px; $colGap: 32px;
  @media (min-width:768px) {
    .item-infos{
      & > .col-1{ width: $col1; }
      & > .col-2{ width: $col2; }
      & > .col-3{
        width: calc(100% - $col1 - $col2 - $col4 - $col5 - $colGap);
      }
      & > .col-4{ width: $col4; }
      & > .col-5.actions{ width: $col5; }
    }
  }

  $col1: 100px; $col2: 130px; $col4: 120px;
  @media (min-width:768px) {
    .item-infos{
      & > .col-1{ width: $col1; }
      & > .col-2{ width: $col2; }
      & > .col-3{
        width: calc(100% - $col1 - $col2 - $col4 - $col5 - $colGap);
        max-width: 420px;
      }
      & > .col-4{ width: $col4; }
    }
  }
}

