<div class="contact">
    <div class="section-title">
        <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
    </div>
    <div class="contact-content">
        <p>
            Si vous recherchez un logiciel métier sur mesure qui s'adapte parfaitement à vos
            idées et à votre entreprise, nous sommes là pour vous.
            <br><br>
            Contactez-nous aujourd'hui pour discuter de votre projet et découvrez comment Logilink peut
            transformer vos idées en une solution logicielle métier performante et sur mesure.
        </p>
        <div class="cta">
            <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
        </div>
    </div>
</div>
