@import "../../../../vars/vars";

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

  li:not(:last-child){
    margin-bottom: 2px;
  }
}

.page-product-explain{
  @media (min-width: 1280px) {
    & > .col-2{
      & > div:nth-child(2), & > div:nth-child(3){
        width: 160px;
      }
      & > div:nth-child(1){
        width: calc(100% - 320px - var(--espaceLayout) - 23px);
      }
    }
  }
}
