@import "../vars/vars";

.section-title{
  text-align: center;
  max-width: 768px;

  h2{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-bottom: var(--espaceDiv);
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2.8em;
    }
  }

  @media (min-width: 1280px) {
    h2 {
      font-size: 3.2em;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.homepage-content{
  min-height: 260vh;
  margin: 0 var(--espaceLayout);
  padding-top: 66px;
  background-color: var(--grey0);
}

.homepage-guard{
  position: relative;
  @include flex(column, stretch, flex-start);
  background: linear-gradient(0.45turn, var(--color1), var(--color1Opacity4), var(--color2));
  min-height: 86vh;
  color: var(--alpha);

  & > .col-1{
    position: relative;

    .col-deco{
      display: none;
    }

    .homepage-title{
      padding: calc(var(--espaceLayout) * 2) var(--espaceLayout);

      .prefix{
        margin-bottom: var(--espaceEls);
        font-size: 1.2em;

        .italic{
          font-family: "Libre Baskerville", serif;
        }
      }

      h1{
        color: var(--color0);
        text-transform: uppercase;
        margin-bottom: var(--espaceDiv);
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 2.3em;
      }

      h1 + p{
        font-size: 1.1em;
      }
    }

    .cta{
      @include flex(row);
      margin-bottom: calc(var(--espaceLayout) * 2);

      a.txt-button{
        color: var(--alpha);
        padding: 16px 36px;
      }
    }
  }

  & > .col-2 {
    position: relative;
    background: url('../../images/guard.jpg') no-repeat;
    background-size: cover;
    height: 238px;

    &:before{
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: linear-gradient(0.45turn, var(--color1Opacity1), var(--color1Opacity4), var(--color2));
    }

    .btn-start{
      position: absolute;
      top: -5%;
      left: 42%;
      width: 58px; height: 58px;
      border-radius: 200px;
      background-color: var(--color2);
      color: var(--txt);
      @include flex(row);
      cursor: pointer;
      overflow: hidden;
      @include shadowCommon();

      &:hover{
        [class^="icon-"]{
          transform: scale(1.2);
        }
      }

      [class^="icon-"]{
        font-weight: 600;
        font-size: 26px;
        transition: transform 0.2s ease;
      }
    }
  }
}

@media (min-width: 768px) {
  .homepage-content{
    padding-top: 86px;
  }

  .homepage-guard{
    flex-direction: row;

    & > .col-1{
      width: 60%;

      .col-deco{
        display: block;
        left: 15%;
      }

      .homepage-title{
        max-width: 770px;
        padding: 28% var(--espaceLayout) 1% 30%;

        .prefix{
          font-size: 1.3em;
        }
      }

      .cta{
        padding-left: 30%;
        margin-top: var(--espaceDiv);
        margin-bottom: 0;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    & > .col-2{
      height: initial;
      width: 40%;

      .btn-start{
        top: 65%;
        left: -29px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .homepage-guard {
    & > .col-1 {
      .homepage-title {
        padding-top: 10%;

        h1 {
          font-size: 3em;
        }
      }
    }

    & > .col-2 {
      width: 35%;
      margin-right: 5%;
    }
  }
}

@media (min-width: 1280px) {
  .homepage-content{
    padding-top: 66px;
  }

  .homepage-guard{
    & > .col-1{
      .homepage-title{
        padding: 6% var(--espaceLayout) 1% 35%;

        h1{
          font-size: 3.8em;
        }
      }

      .cta {
        padding-left: 35%;
      }
    }

    & > .col-2 {
      .btn-start {
        top: 40%;
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.homepage-products{
  position: relative;

  .items{
    @include flex(column, stretch, center, var(--espaceDiv));
    padding: 0 var(--espaceLayout);
    margin-top: -10%;
  }

  .item{
    @include flex(column, flex-start, space-between, var(--espaceDiv));
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;
    border-radius: var(--radius2);
    padding: var(--espaceLayout);
    @include shadowCommon();
    width: 100%;
  }

  .item-body{
    @include flex(column, flex-start, flex-start, var(--espaceDiv));
  }

  .item-cta{

    text-align: right;
    width: 100%;
  }

  @media (min-width: 768px) {
    .items{
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 var(--espaceLayout);
    }

    .item{
      width: 48%;
    }
  }
  @media (min-width: 1024px) {
    .items{
      margin-top: 0;
      flex-wrap: initial;
    }

    .item{
      margin-top: -62px;
      width: 25%;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.lastwork{
  @include flex(column);
  padding: calc(var(--espaceLayout) * 4) var(--espaceLayout);

  .lastwork-content{
    @include flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));
    margin-top: calc(var(--espaceLayout) * 2);


    .item {
      background-color: var(--alpha);
      @include shadowCommon();
      border-radius: var(--radius2);

      .item-content{
        padding: 0 var(--espaceDiv) var(--espaceDiv) var(--espaceDiv);
      }
    }

    .items{
      @include flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));

      .item{
        width: 100%;

        .item-image{
          height: 100px;
          overflow: hidden;
          @include shadowCommon();
        }

        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .item-image{
      margin-bottom: var(--espaceDiv);
      border-radius: var(--radius2);

      img{
        border-radius: var(--radius2);
        @include shadowCommon();
      }
    }

    .badge{
      display: inline-block;
      text-transform: uppercase;
      padding: 6px 8px;
      font-size: 10px;
      border-radius: 12px;
      margin-bottom: 12px;
    }

    .badge-0{
      background-color: var(--primaryOpacity1);
      color: var(--primary);
    }

    .badge-1{
      background-color: var(--dangerOpacity1);
      color: var(--danger);
    }

    h3{
      margin-bottom: 8px;
      font-size: 2em;
    }
  }
}


@media (min-width: 768px) {
  .lastwork {
    .lastwork-content {
      flex-direction: row;

      & > .item, & > .items{
        width: 50%;
      }

      .item {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;

        .item-content{
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .lastwork {
    padding: calc(var(--espaceLayout) * 4);
  }
}

@media (min-width: 1600px) {
  .lastwork {
    padding: calc(var(--espaceLayout) * 4) calc(var(--espaceLayout) * 8);
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.contact{
  @include flex(column, center, center, var(--espaceLayout));
  padding: calc(var(--espaceLayout) * 2) calc(var(--espaceLayout) * 4);
  background: linear-gradient(0.45turn, var(--color1), var(--color1), var(--color0));
  text-align: center;

  .contact-content{
    p{
      color: var(--alpha);
      margin-bottom: var(--espaceDiv);
    }

    .cta{
      text-align: center;
    }

    .btn{
      display: inline-block;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    text-align: left;

    .section-title{
      text-align: left;
    }

    .contact-content {
      max-width: 768px;
      padding-left: 10%;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------
.suite {
  @include flex(column);
  padding: calc(var(--espaceLayout) * 4) var(--espaceLayout);

  .suite-content{
    margin-top: calc(var(--espaceLayout) * 2);

    .items{
      @include flex(column, stretch, space-between, var(--espaceLayout));
    }

    .item{
      background-color: var(--alpha);
      @include shadowCommon();
      border-radius: var(--radius2);
      padding: var(--espaceLayout);
    }

    .logo{
      width: 64px; height: 64px;
      background-color: var(--color0Opacity1);
      padding: 12px;
      border-radius: var(--radius);
      margin-bottom: 12px;
    }

    h3{
      margin-bottom: 8px;
      font-size: 1.4em;
    }

    .item-cta{
      text-align: right;
    }
  }


  @media (min-width: 768px) {
    .suite-content {
      .items {
        flex-direction: row;
      }
    }
  }

  @media (min-width: 1280px) {
    flex-direction: row;
    text-align: left;
    padding: calc(var(--espaceLayout) * 4);

    .section-title{
      text-align: left;
    }

    .suite-content{
      margin-top: 0;
      margin-left: calc(var(--espaceLayout) * 2);

      .item{
        @include flex(column, flex-start, space-between);
      }

      .item-cta{
        width: 100%;
      }
    }
  }
}
