@use "../vars/vars";

.section-title{
  text-align: center;
  max-width: 768px;

  h2{
    font-size: 2em;
    @include vars.fontPoppinsBold();
    margin-bottom: var(--espaceDiv);
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2.8em;
    }
  }

  @media (min-width: 1280px) {
    h2 {
      font-size: 3.2em;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.homepage-content{
  min-height: 260vh;
  margin: 0 var(--espaceLayout);
  padding-top: 66px;
  background-color: var(--grey0);
}

.homepage-guard{
  position: relative;
  @include vars.flex(column, stretch, flex-start);
  background: linear-gradient(0.45turn, var(--color1), var(--color1Opacity6), var(--color2));
  min-height: 86vh;
  color: var(--alpha);

  & > .col-1{
    position: relative;

    .col-deco{
      display: none;
    }

    .homepage-title{
      padding: calc(var(--espaceLayout) * 2) var(--espaceLayout);

      .prefix{
        margin-bottom: var(--espaceEls);
        font-size: 1.2em;
      }

      h1{
        color: var(--color0);
        text-transform: uppercase;
        margin-bottom: var(--espaceDiv);
        @include vars.fontPoppinsBold();
        font-size: 2.3em;
      }

      h1 + p{
        font-size: 1.1em;
      }
    }

    .cta{
      @include vars.flex(row);
      margin-bottom: 100px;

      a.txt-button{
        color: var(--alpha);
        padding: 16px 36px;
      }
    }
  }

  & > .col-2 {
    position: relative;
    background: url('../../images/guard.jpg') no-repeat;
    background-size: cover;
    height: 238px;

    &:before{
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: linear-gradient(0.45turn, var(--color1Opacity1), var(--color1Opacity4), var(--color2));
    }

    .btn-start{
      position: absolute;
      top: -5%;
      left: 42%;
      width: 58px; height: 58px;
      border-radius: 200px;
      background-color: var(--color2);
      color: var(--txt);
      @include vars.flex(row);
      cursor: pointer;
      overflow: hidden;
      @include vars.shadowCommon();

      &:hover{
        [class^="icon-"]{
          transform: scale(1.2);
        }
      }

      [class^="icon-"]{
        font-weight: 600;
        font-size: 26px;
        transition: transform 0.2s ease;
      }
    }
  }
}

@media (min-width: 768px) {
  .homepage-content{
    padding-top: 86px;
  }

  .homepage-guard{
    flex-direction: row;

    & > .col-1{
      width: 60%;

      .col-deco{
        display: block;
        left: 15%;
      }

      .homepage-title{
        max-width: 770px;
        padding: 28% var(--espaceLayout) 1% 30%;

        .prefix{
          font-size: 1.3em;
        }
      }

      .cta{
        padding-left: 30%;
        margin-top: var(--espaceDiv);
        margin-bottom: 0;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    & > .col-2{
      height: initial;
      width: 40%;

      .btn-start{
        top: 65%;
        left: -29px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .homepage-guard {
    & > .col-1 {
      .homepage-title {
        padding-top: 10%;

        h1 {
          font-size: 3em;
        }
      }
    }

    & > .col-2 {
      width: 35%;
      margin-right: 5%;
    }
  }
}

@media (min-width: 1280px) {
  .homepage-content{
    padding-top: 66px;
  }

  .homepage-guard{
    & > .col-1{
      .homepage-title{
        padding: 6% var(--espaceLayout) 1% 35%;

        h1{
          font-size: 3.8em;
        }
      }

      .cta {
        padding-left: 35%;
      }
    }

    & > .col-2 {
      .btn-start {
        top: 40%;
      }
    }
  }
}

@media (min-width: 1920px) {
  .homepage-guard{
    & > .col-1{
      .homepage-title{
        max-width: 808px;
      }
    }
  }
}

@media (min-width: 2500px) {
  .homepage-guard{
    & > .col-1{
      .homepage-title{
        max-width: 963px;
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.homepage-products{
  display: none;
  position: relative;

  @media (min-width: 768px) {
    display: block;

    .items{
      @include vars.flex(row, stretch, center, var(--espaceDiv));
      flex-wrap: wrap;
      padding: 0 var(--espaceLayout);
      margin-top: -10%;
    }

    .item{
      @include vars.flex(column, flex-start, space-between, var(--espaceDiv));
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(255, 255, 255, 0.85);
      position: relative;
      border-radius: var(--radius2);
      padding: var(--espaceLayout);
      @include vars.shadowCommon();
      width: 48%;
    }

    .item-body{
      @include vars.flex(column, flex-start, flex-start, var(--espaceDiv));
    }

    .item-cta{
      text-align: right;
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    .items{
      margin-top: 0;
      flex-wrap: initial;
    }

    .item{
      margin-top: -62px;
      width: 25%;
    }
  }

  @media (max-height: 710px) {
    .item{
      margin-top: -14px;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.lastwork{
  @include vars.flex(column);
  padding: calc(var(--espaceLayout) * 4) var(--espaceLayout);

  .lastwork-content{
    @include vars.flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));
    margin-top: calc(var(--espaceLayout) * 2);


    .item {
      background-color: var(--alpha);
      @include vars.shadowCommon();
      border-radius: var(--radius2);

      .item-content{
        padding: 0 var(--espaceDiv) var(--espaceDiv) var(--espaceDiv);
      }
    }

    .items{
      @include vars.flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));

      .item{
        width: 100%;

        .item-image{
          height: 180px;
          overflow: hidden;
          @include vars.shadowCommon();
        }
      }
    }

    .item-image{
      margin-bottom: var(--espaceDiv);
      border-radius: var(--radius2);

      img{
        border-radius: var(--radius2);
        @include vars.shadowCommon();
      }
    }

    .badge{
      display: inline-block;
      text-transform: uppercase;
      padding: 6px 8px;
      font-size: 10px;
      border-radius: 12px;
      margin-bottom: 12px;
    }

    .badge-0{
      background-color: var(--primaryOpacity1);
      color: var(--primary);
    }

    .badge-1{
      background-color: var(--dangerOpacity1);
      color: var(--danger);
    }

    h3{
      margin-bottom: 8px;
      font-size: 2em;
    }
  }
}


@media (min-width: 768px) {
  .lastwork {
    .lastwork-content {
      flex-direction: row;

      & > .item, & > .items{
        width: 50%;
      }

      .item {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;

        .item-content{
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .lastwork {
    padding: calc(var(--espaceLayout) * 4);
  }
}

@media (min-width: 1600px) {
  .lastwork {
    padding: calc(var(--espaceLayout) * 4) calc(var(--espaceLayout) * 8);
  }
}


// ---------------------------------------------------------------------------------------------------------------------

.partenaires{
  @include vars.flex(column);
  padding: calc(var(--espaceLayout) * 4) var(--espaceLayout);

  .partenaires-content{
    @include vars.flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));
    margin-top: calc(var(--espaceLayout) * 2);


    .item {
      img{
        width: 210px;
        height: 100%;
      }
    }
  }
}


@media (min-width: 768px) {
  .partenaires {
    .partenaires-content {
      flex-direction: row;
    }
  }
}

@media (min-width: 1024px) {
  .partenaires {
    padding: calc(var(--espaceLayout) * 4);
  }
}

@media (min-width: 1600px) {
  .partenaires {
    padding: calc(var(--espaceLayout) * 4) calc(var(--espaceLayout) * 8);
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.contact{
  @media (min-width: 1024px) {
    flex-direction: row;
    text-align: left;

    .section-title{
      text-align: left;
    }

    .contact-content {
      padding-left: 10%;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------
.suite {
  @include vars.flex(column);
  padding: calc(var(--espaceLayout) * 4) var(--espaceLayout);

  .suite-content{
    margin: calc(var(--espaceLayout) * 2) 0;

    .items{
      @include vars.flex(column, flex-start, space-between, var(--espaceLayout));
      width: 100%;
    }

    .item{
      background-color: var(--alpha);
      @include vars.shadowCommon();
      border-radius: var(--radius2);
      padding: var(--espaceLayout);
      width: 100%;
    }

    .logo{
      width: 64px; height: 64px;
      background-color: var(--color0Opacity1);
      padding: 12px;
      border-radius: var(--radius);
      margin-bottom: 12px;
    }

    h3{
      margin-bottom: 8px;
      font-size: 1.4em;
    }

    .item-cta{
      text-align: right;
    }
  }

  @media (min-width: 768px) {
    .suite-content {
      max-width: 768px;

      .items {
        position: relative;
        flex-direction: row;
        width: 100%;
      }

      .items-logiciels, .items-applications{
        justify-content: center;
        flex-wrap: wrap;
        padding: var(--espaceLayout);
        border-radius: var(--radius2);
      }

      .items-logiciels{
        background-color: var(--color2Opacity4);

        &:before{
          content: "";
          display: block;
          background-color: var(--txt);
          width: 12px;
          height: calc(100% - var(--espaceLayout) * 2 - 1px);
          position: absolute;
          top: calc(var(--espaceLayout) + 1px);
          left: calc(50% - 12px);
        }
      }

      .items-applications{
        background-color: var(--color0Opacity4);
      }

      .item-link-syndic, .item-link-gerance{
        display: block;
        background-color: var(--txt);
        width: calc(100% - var(--espaceLayout) * 2 - 1px);
        height: 12px;
        position: absolute;
        left: calc(var(--espaceLayout) + 1px);
      }

      .item-link-syndic{
        top: 7%;
      }
      .item-link-gerance{
        top: 40%;
      }

      .item{
        position: relative;
        z-index: 5;
        width: 354px;

        p{
          min-height: 63px;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    padding: calc(var(--espaceLayout) * 4);

    .section-title{
      max-width: 860px;

      p{
        max-width: 768px;
        margin: 0 auto;
      }
    }

    .suite-content{
      max-width: 1040px;

      .items{
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
      }

      .items-logiciels, .items-applications{
        gap: 40px;
      }

      .items-logiciels{
        flex-wrap: nowrap;

        &:before{
          width: calc(100% - var(--espaceLayout) * 2 - 1px);
          height: 12px;
          top: calc(50% - 12px);
          left: calc(var(--espaceLayout) + 1px);
        }
      }

      .item-link-syndic, .item-link-gerance{
        width: 12px;
        height: calc(100% - var(--espaceLayout) * 2 - 1px);
        top: calc(var(--espaceLayout) + 1px);
      }

      .item-link-syndic{
        left: 7%;
      }
      .item-link-gerance{
        left: 40%;
      }

      .item{
        width: calc(33% - var(--espaceLayout));
      }
    }
  }

  @media (min-width: 1440px) {
    .suite-content{
      .items-logiciels{
        &:before{
          width: calc(100% - var(--espaceLayout) * 2 - 2px);
        }
      }
    }
  }

  @media (min-width: 1600px) {
    .suite-content{
      max-width: 1100px;

      .items-logiciels, .items-applications{
        gap: 48px;
      }
    }
  }
}
