@use "../components/section";

.section{
  align-items: flex-start;
}

@media (min-width: 768px) {
  .section{
    padding: var(--espaceLayout);

    .section-content{
      padding-left: 0;
      max-width: 1024px;

      div > h3{
        margin-top: var(--espaceLayout);
        margin-bottom: var(--espaceEls);
      }
    }
  }
}
