@import "../vars/vars";

.col-deco{
  display: none;

  @media (min-width: 768px) {
    display: block;
    left: 15%;
    color: var(--color1);
  }
  @media (min-width: 1024px) {
    left: 6%;
  }
  @media (min-width: 1600px) {
    left: 15%;
  }
}

@import "../components/section";

//----------------------------------------------------------------------------------------------------------------------

.material, .reseaux{
  justify-content: flex-end;

  @media (min-width: 768px) {
    .material-content{
      padding-right: 16%;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 0;

    .material-content{
      padding-top: calc(var(--espaceLayout) * 2);
      padding-right: 5%;
    }
  }

  @media (min-width: 1280px) {
    .material-image{
      max-width: 800px;
    }
  }

  @media (min-width: 1920px) {
    .material-content{
      padding-left: 6%;
      padding-right: 8%;
    }
  }
}

.reseaux{
  @media (min-width: 1600px) {
    align-items: center;

    .etude-content{
      padding-top: 0;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.support{
  flex-direction: column-reverse;

  .support-image{
    max-height: 280px;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;

    .support-image {
      width: 50%;
    }

    .support-content{
      padding-left: 5%;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.garantie-section{
  background-color: var(--color3);
  color: var(--alpha);

  .part-title{
    @include flex(column, center, center);

    h2{
      @include flex(column, center, center);
      margin-bottom: 26px;

      &:after{
        content: '';
        width: 196px;
        height: 3px;
        background-color: var(--color2);
        display: block;
        margin-top: 26px;
      }
    }

    p{
      max-width: 424px;
    }
  }
}

.garantie{
  padding: calc(var(--espaceLayout) * 2) 10px;

  .garantie-content{
    @include flex(column, center, center);

    & > div{
      margin-bottom: 24px;
      max-width: 424px;
    }
    h3{
      margin-bottom: 12px;
    }
  }

  @media (min-width: 768px) {
    .garantie-content{
      padding-left: 16%;
    }
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
    margin: 0 auto;
    padding: 64px 18px;

    .garantie-content{
      @include flex(row, flex-start, space-between, var(--espaceLayout));
      padding-left: 12%;

      & > div{
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 1280px) {
    .garantie-content{
      padding-left: 10%;
      gap: calc(var(--espaceLayout) * 2);
    }
  }

  @media (min-width: 1440px) {
    max-width: 1280px;
  }
}
