@import "../vars/vars.scss";

@import "./split/societe/chronology.scss";
@import "./split/societe/history.scss";

.page-category-explain{
  background-color: var(--alpha);
  color: var(--txt);

  .society-contact{
    font-size: 1em;

    @media (min-width: 1024px) {
      flex-direction: row;
      max-width: initial;
    }
  }
}

.society-contact{
  @include flex(column, flex-start, flex-start, var(--espaceLayout));

  h2, h3{
    font-size: 1.3em;
    margin-bottom: var(--espaceEls);
  }

  h3{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }

  .cta{
    margin-top: 12px;
  }

  & > .col-1, & > .col-2{
    width: 100%;
  }

  & > .col-2{
    @include flex(column, flex-start, flex-start, var(--espaceLayout));

    & > *{
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    .cta{
      display: inline-block;
    }

    & > .col-1, & > .col-2{
      text-align: left;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.skill{
  padding: calc(var(--espaceLayout) * 2) 0;

  .section-content{
    p{
      a{
        color: var(--txt);
        text-decoration: underline;
      }
    }
  }

  .skill-cta{
    margin: var(--espaceDiv) 0;
  }

  @media (min-width: 768px) {
    position: relative;
    min-height: 284px;

    .skill-content{
      position: relative;
      z-index: 5;
      margin-top: calc(var(--espaceLayout) * 4);

      h2{
        max-width: 380px;
      }

      p{
        max-width: 260px;
        margin: 36px 0;
        opacity: 0.9;
      }
    }

    .skill-image{
      position: absolute;
      top: 48px; right: 24px;
      width: 60%;
      height: 100%;
      overflow: hidden;

      img{
        height: calc(100% - 62px);
        object-fit: cover;
      }
    }

    .skill-cta{
      display: flex;
    }
  }

  @media (min-width: 1024px) {
    .skill-content{
      margin-left: 10%;
    }

    .skill-image{
      top: 5%;
      right: 5%;
      width: 57%;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.history, .chronology{
  padding: 64px 10px;
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .history, .chronology{
    padding: 64px 18px;
  }
}

//                      __   _ _____  __    __     __
//                     | _| / |___ / / /_  / /_   |_ |
//    _____ _____ _____| |  | | |_ \| '_ \| '_ \   | |_____ _____ _____
//   |_____|_____|_____| |  | |___) | (_) | (_) |  | |_____|_____|_____|
//                     | |  |_|____/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1366px){
  .history{
    @include maxscreen();
  }
}
