@import "../vars/vars";

.col-deco{
  display: none;

  @media (min-width: 768px) {
    display: block;
    left: 15%;
    color: var(--color1);
  }
  @media (min-width: 1024px) {
    left: 6%;
  }
  @media (min-width: 1600px) {
    left: 15%;
  }
}

@import "../components/section";

.page-category-explain{
  h2{
    font-size: 1.3em;
  }
}

//----------------------------------------------------------------------------------------------------------------------

.transfert{
  flex-direction: column-reverse;

  .transfert-image{
    max-height: 280px;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;

    .transfert-image {
      width: 50%;
    }

    .transfert-content{
      padding-left: 5%;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.traitement{
  justify-content: flex-end;

  .traitement-content{
    padding-right: 16%;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 0;

    .traitement-content{
      padding-top: calc(var(--espaceLayout) * 2);
      padding-right: 5%;
    }
  }

  @media (min-width: 1280px) {
    .traitement-image{
      max-width: 800px;
    }
  }

  @media (min-width: 1600px) {
    align-items: center;

    .traitement-content{
      padding-top: 0;
    }
  }

  @media (min-width: 1920px) {
    .traitement-content{
      max-width: 664px;
      padding-left: 6%;
      padding-right: 8%;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.development{
  .development-content{
    @include flex(column, flex-start, flex-start);

    p + p{
      margin-top: var(--espaceLayout);
    }
  }

  .development-image{
    @include flex(row, flex-start, flex-start, var(--espaceDiv));
    overflow: auto;

    img{
      width: 280px;
      height: 180px;
      object-fit: cover;
    }
  }

  @media (min-width: 1024px) {
    .development-content{
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding-left: 0;
      max-width: initial;

      h2{
        width: 100%;
        text-align: right;
      }

      p{
        max-width: 288px;
      }

      p + p{
        margin-left: 72px;
        margin-top: 0;
      }
    }
    .development-image{
      overflow: hidden;
      justify-content: flex-end;
    }
  }

  @media (min-width: 1280px) {
    padding: calc(var(--espaceLayout) * 2) 0 calc(var(--espaceLayout) * 2) 20%;

    .development-content{
      justify-content: flex-start;
      flex-wrap: initial;
      gap: var(--espaceLayout);

      h2{
        text-align: left;
        width: auto;
      }

      p + p{
        margin-left: 0;
      }
    }
  }
  @media (min-width: 1440px) {
    .development-content{
      gap: 72px;

      p{
        max-width: 328px;
      }
    }
  }
  @media (min-width: 1600px) {
    .development-content {
      h2 {
        margin-right: 72px;
      }
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.parc{
  .parc-image{
    max-height: 180px;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    .parc-content{
      margin: 0 auto;
      text-align: center;
      padding-left: 0;
    }
  }
}
