@import "../vars/vars.scss";

.page-category-explain{
  background-color: var(--alpha);
  color: var(--txt);

  .support-container{
    font-size: 1em;
  }
}

@import "../components/section";

.support-container{
  @include flex(column, center, center);

  h2{
    font-size: 1.3em;
  }

  ul{
    list-style-type: none;
  }

  .support-storage{
    @include flex(column, center, center);

    .support-storage-directory{
      cursor: pointer;
      opacity: 0.8;
      padding: var(--espaceEls) 0;

      &:hover{
        opacity: 1;
      }

      &.active{
        color: var(--txt);
        opacity: 1;
        font-weight: 600;
      }
    }

    .support-storage-files{
      display: none;
      text-align: left;

      &.active{
        display: block;
      }

      a{
        display: inline-block;
        transition: transform 0.2s ease;

        &:hover{
          transform: translateX(4px);
        }
      }
    }
  }
}


.section.product{
  .contact-content{
    @include flex(column, flex-start, flex-start, calc(var(--espaceLayout) * 2));
    max-width: 1024px;
    padding-right: 0;
    padding-left: 0;

    h3{
      font-size: 1.3em;
      margin-bottom: var(--espaceDiv);
      text-transform: uppercase;
      @include fontPoppinsBold();
    }

    .cta{
      margin-top: 12px;
    }

    .address > a{
      color: var(--primary);
    }

    & > div{
      width: 100%;
    }

    @media (min-width: 768px) {
      text-align: center;
      width: 100%;
      max-width: 768px;

      .cta{
        display: inline-block;
      }
    }
  }
}
