@import "../vars/vars";

.col-deco{
  display: none;

  @media (min-width: 768px) {
    display: block;
    left: 15%;
    color: var(--color1);
  }
  @media (min-width: 1024px) {
    left: 6%;
  }
  @media (min-width: 1600px) {
    left: 15%;
  }
}

section{
  position: relative;
}

.section{
  position: relative;
  @include flex(column, center, flex-start, var(--espaceLayout));
  padding: calc(var(--espaceLayout) * 2) 0;

  .section-content{
    max-width: 568px;
    padding: 0 var(--espaceLayout);
    margin-bottom: var(--espaceLayout);
  }

  .section-image{
    width: 100%;
  }

  @media (min-width: 768px) {
    .section-content{
      padding-left: 16%;
    }
  }

  @media (min-width: 1024px) {
    .section-content{
      margin-bottom: 0;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.etude, .edito{
  justify-content: flex-end;

  .etude-content{
    padding-right: 16%;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 0;

    .etude-content{
      padding-top: calc(var(--espaceLayout) * 2);
      padding-right: 5%;
    }
  }

  @media (min-width: 1280px) {
    .etude-image{
      max-width: 800px;
    }
  }

  @media (min-width: 1920px) {
    .etude-content{
      padding-left: 6%;
      padding-right: 8%;
    }
  }
}

.edito{
  @media (min-width: 1600px) {
    align-items: center;

    .etude-content{
      padding-top: 0;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.proposition{
  flex-direction: column-reverse;

  .proposition-image{
    max-height: 280px;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;

    .proposition-image {
      width: 50%;
    }

    .proposition-content{
      padding-left: 5%;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.development{
  .development-content{
    @include flex(column, flex-start, flex-start);

    p + p{
      margin-top: var(--espaceLayout);
    }
  }

  .development-image{
    @include flex(row, flex-start, flex-start, var(--espaceDiv));
    overflow: auto;

    img{
      width: 280px;
      max-height: 180px;
      object-fit: cover;
    }
  }

  @media (min-width: 1024px) {
    .development-content{
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding-left: 0;
      max-width: initial;

      h2{
        width: 100%;
        text-align: right;
      }

      p{
        max-width: 288px;
      }

      p + p{
        margin-left: 72px;
        margin-top: 0;
      }
    }
    .development-image{
      overflow: hidden;
      justify-content: flex-end;
    }
  }

  @media (min-width: 1280px) {
    padding: calc(var(--espaceLayout) * 2) 0 calc(var(--espaceLayout) * 2) 20%;

    .development-content{
      justify-content: flex-start;
      flex-wrap: initial;
      gap: var(--espaceLayout);

      h2{
        text-align: left;
        width: auto;
      }

      p + p{
        margin-left: 0;
      }
    }
  }
  @media (min-width: 1440px) {
    .development-content{
      gap: 72px;

      p{
        max-width: 328px;
      }
    }
  }
  @media (min-width: 1600px) {
    .development-content {
      h2 {
        margin-right: 72px;
      }
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------

.online{
  .online-image{
    max-height: 180px;
    overflow: hidden;
  }

  @media (min-width: 1024px) {

    .online-content{
      margin: 0 auto;
      text-align: center;
      padding-left: 0;
    }
  }
}

