@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Poppins:wght@400;600;800&display=swap');

body{
  font-family: 'Poppins', sans-serif !important;
}

.cta{
  .btn{
    padding: 16px 36px;
    font-weight: 600;
  }
}

.col-deco{
  position: absolute;
  top: 0;
  width: 40px; height: 100%;

  & > div{
    height: 100%;
    background-image: radial-gradient(currentColor 2px, transparent 1.5px);
  }
}

.page-default{
  padding-top: 72px;
  background-color: var(--grey0);
  min-height: calc(100vh - 203px - var(--espaceLayout));
  margin: 0 var(--espaceLayout);

  h2{
    margin-bottom: var(--espaceDiv);
    font-size: 2em;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }


  @media (min-width: 768px) {
    h2{
      font-size: 2.8em;
    }
  }
}

.page-category-title{
  padding: calc(var(--espaceLayout) * 2) var(--espaceLayout);
  background: linear-gradient(0.45turn, var(--color1), var(--color1Opacity4), var(--color2));

  h1{
    color: var(--color0);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 3em;
  }
}

.page-category-explain{
  padding: calc(var(--espaceLayout) * 2) var(--espaceLayout);
  text-align: center;
  background-color: var(--alpha);

  .category-explain-container{
    max-width: 568px;
    margin: 0 auto;
    font-size: 1.2em;
  }
}



section{
  position: relative;
}

.section{
  position: relative;
  @include flex(column, center, flex-start, var(--espaceLayout));
  padding: calc(var(--espaceLayout) * 2) 0;

  .section-content{
    max-width: 568px;
    padding: 0 var(--espaceLayout);
    margin-bottom: var(--espaceLayout);
  }

  .section-image{
    width: 100%;
  }

  @media (min-width: 768px) {
    .section-content{
      padding-left: 16%;
    }
  }

  @media (min-width: 1024px) {
    .section-content{
      margin-bottom: 0;
    }
  }
}
