@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Poppins:wght@400;600;800&display=swap');

body{
  font-family: 'Poppins', sans-serif !important;
}

.cta{
  .btn{
    padding: 16px 36px;
    font-weight: 600;
  }
}

.page-default{
  padding-top: 72px;
  background-color: var(--grey0);
  min-height: calc(100vh - 203px - var(--espaceLayout));
  margin: 0 var(--espaceLayout);
}

.page-category-title{
  padding: calc(var(--espaceLayout) * 2) var(--espaceLayout);
  background: linear-gradient(0.45turn, var(--color1), var(--color1Opacity4), var(--color2));

  h1{
    color: var(--color0);
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }
}

.page-category-explain{
  padding: calc(var(--espaceLayout) * 2) var(--espaceLayout);
  background-color: var(--alpha);
  text-align: center;

  .category-explain-container{
    max-width: 568px;
    margin: 0 auto;
    line-height: 1.3;

    h2{
      margin-bottom: var(--espaceLayout);
      font-size: 2.3em;
    }

    p{
      margin-bottom: var(--espaceLayout);
    }

    .cta{
      display: inline-block;
    }
  }
}
