@import "aos/src/sass/aos";

@import "vars/fonts";
@import "vars/vars";
@import "vars/variables";

@import "./components/cookies";
@import "./components/loader";
@import "./components/elements/button";
@import "./components/elements/alert";
@import "./components/form";
@import "./components/modal";

@import "./components/menu";
@import "./components/page";
@import "./components/footer";

body {
  @include fontPoppinsRegular();
}

h1, h3{
  @include fontBold();
}

h2{
  @include fontSemibold();
}

p{
  line-height: 1.3;
}

.italic{
  @include fontLibreItalic();
}

.txt-primary{
  color: var(--primary);
}

.txt-color0{
  color: var(--color0);
}

.txt-color1{
  color: var(--color1);
}

.txt-color2{
  color: var(--color2);
}

.link-italic{
  display: inline-block;
  @include fontLibreItalic();
  color: var(--color1);
  margin-top: 12px;
  border-bottom: 1px solid var(--color1);
  padding-bottom: 4px;
  font-size: 14px;

  [class^="icon-"]{
    display: inline-block;
    padding-left: 12px;
    transition: transform 0.2s ease;
  }

  &:hover{
    [class^="icon-"]{
      transform: translateX(4px);
    }
  }
}
