{% extends 'app/layout/layout.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block main_content %}
    <div class="page-content">
        <div class="page-guard">
            <div class="col-1">
                <div class="col-deco">
                    <div class="pattern-dots-lg"></div>
                </div>
                <div class="page-guard-title homepage-title">
                    <div class="prefix">Nos logiciels vous <span class="italic">simplifient la vie</span>.</div>
                    <h1>Transformez vos <span class="txt-color2">idées en</span> réalité numérique<span class="txt-color2">.</span></h1>
                    <p>
                        Editeur spécialisé dans le domaine de l'immobilier et la gestion des entreprises et les sites internet
                        sur-mesure, Logilink développe des logiciels modernes, fiables et performants en réponse à toutes
                        vos exigences professionnelles.
                    </p>
                </div>


                <div class="cta">
                    <a class="btn btn-primary" href="tel:0491994443">04 91 99 44 43</a>
                    <a class="txt-button txt-button-color0">
                        Notre travail <span class="icon-right-chevron"></span>
                    </a>
                </div>
            </div>
            <div class="col-2">
                <div class="btn-start">
                    <span class="icon-down-arrow"></span>
                </div>
            </div>
        </div>
        <div class="homepage-products">
            {% set products = [
                {
                    numero: 1, name: 'Logiciels', txtBtn: 'Les logiciels', pathBtn: path('app_homepage'),
                    text: 'Un logiciel adapté à votre activité qui répondra aux demandes spécifiques de votre entreprise.'
                },
                {
                    numero: 2, name: 'Applications', txtBtn: 'Les applications', pathBtn: path('app_homepage'),
                    text: 'Améliorez votre efficacité et productivité avec des applications sur-mesure.'
                },
                {
                    numero: 3, name: 'Sites internet', txtBtn: 'Les sites internet', pathBtn: path('app_homepage'),
                    text: 'Développez votre identité numérique à travers un site internet qui vous correspond.'
                },
                {
                    numero: 4, name: 'Services', txtBtn: 'Les services', pathBtn: path('app_homepage'),
                    text: 'Simplifiez vous l\'installation du matériel informatique et l\'intégration de logiciels.'
                }
            ] %}
            <div class="items">
                {% for item in products %}
                    <div class="item">
                        <h2>{{ item.name }}</h2>
                        <div class="item-body">
                            <p>{{ item.text }}</p>
                            <div class="item-cta">
                                <a href="{{ item.pathBtn }}" class="btn btn-color1">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="test">
            <div class="homepage-title">
                <h1>Nos <span class="txt-color2">solutions</span> informatiques<span class="txt-color2">.</span></h1>
                <p>
                    Logilink développe des solutions informatiques tirant le meilleur parti des dernières évolutions technologiques.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
