{% extends 'app/layout/layout.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block main_content %}
    <div class="page-content">
        <div class="page-guard">
            <div class="col-1">
                <div class="col-1-deco">
                    <div class="pattern-dots-lg"></div>
                </div>
                <div class="page-guard-title">
                    <div class="prefix">Nos logiciels vous <span class="italic">simplifient la vie</span>.</div>
                    <h1>Transformez vos <span class="txt-color2">idées en</span> réalité numérique<span class="txt-color2">.</span></h1>
                    <p>
                        Editeur spécialisé dans le domaine de l'immobilier et la gestion des entreprises et les sites internet
                        sur-mesure, Logilink développe des logiciels modernes, fiables et performants en réponse à toutes
                        vos exigences professionnelles.
                    </p>
                </div>


                <div class="cta">
                    <a class="btn btn-primary" href="tel:0491994443">04 91 99 44 43</a>
                    <a class="txt-button txt-button-color0">
                        Notre travail <span class="icon-right-chevron"></span>
                    </a>
                </div>
            </div>
            <div class="col-2">
                <div class="btn-start">
                    <span class="icon-down-arrow"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
