<div class="contact">
    <div class="section-title">
        <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
    </div>
    <div class="contact-content">
        <p>
            Si vous cherchez à créer une application mobile ou tablette sur mesure qui incarne véritablement
            votre vision, n'hésitez pas à nous contacter dès aujourd'hui.
            <br><br>
            Nous sommes prêts à transformer vos idées en applications interactives et conviviales.
            Faites de votre présence mobile et tablette un succès incontestable avec notre expertise.
        </p>
        <div class="cta">
            <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
        </div>
    </div>
</div>
